services:
  api:
    image: url-shortener-api-dev:latest
    restart: unless-stopped
    build:
      context: ../../src
      dockerfile: ./Dockerfile.Development
    env_file:
      - .env
    networks:
      - url-shortener-service
    ports:
      - "8085:8080"
    logging:
      driver: "json-file"
      options:
        max-file: "2"
        max-size: "1m"
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: '1'
          memory: '512M'
          pids: 100
        reservations:
          cpus: '1'
          memory: '512M'
      mode: replicated

networks:
  url-shortener-service:
    driver: bridge