services:
  load_balancer:
    container_name: loadbalancer
    image: traefik:v3.6
    restart: unless-stopped
    tty: true
    command:
      # EntryPoints
      - --entrypoints.http.address=:80
      - --entrypoints.ping.address=:8081
      - --entrypoints.metrics.address=:8082
      - --entrypoints.traefik.address=:8083

      # Providers 
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      
      # API & Dashboard 
      - --api.dashboard=true
      - --api.insecure=true
      
      # Ping endpoint
      - --ping=true
      - --ping.entrypoint=ping
      
      # Observability 
      - --log.level=INFO
      - --accesslog=true
      - --metrics.prometheus=true
      - --metrics.prometheus.entrypoint=metrics
      - --metrics.prometheus.addServicesLabels=true

      # Timeouts
      - --serversTransport.forwardingTimeouts.dialTimeout=10s
      - --serversTransport.forwardingTimeouts.responseHeaderTimeout=10s
        
      # Load Balancing
      - --providers.docker.defaultRule=Host(`localhost`)
    labels:
      - traefik.enable=true
      
      # Dashboard
      - traefik.http.routers.dashboard.rule=Host(`localhost`)
      - traefik.http.routers.dashboard.entrypoints=traefik
      - traefik.http.routers.dashboard.service=api@internal
    healthcheck:
      test: traefik healthcheck --ping
      interval: 15s
      timeout: 3s
      retries: 3
      start_period: 5s
    depends_on:
      - api
    links:
      - api
    ports:
      - "8080:80"
      - "8081:8081"
      - "8082:8082"
      - "8083:8083"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - url-shortener-service
    logging:
      driver: "json-file"
      options:
        max-file: "2"
        max-size: "1m"
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 256M
        reservations:
          cpus: '0.50'
          memory: 256M
  
  api:
    image: url-shortener-api:latest
    restart: unless-stopped
    build:
      context: ../../src
      dockerfile: ./Dockerfile
    env_file:
      - .env
    labels:
      - traefik.enable=true

      # Router configuration
      - traefik.http.routers.api_service.entrypoints=http
      - traefik.http.routers.api_service.rule=PathPrefix(`/url-shortener`)

      # Service configuration
      - traefik.http.services.api_service.loadbalancer.server.port=8080
      - traefik.http.services.api_service.loadbalancer.passhostheader=true
      - traefik.http.services.api_service.loadbalancer.healthcheck.path=/health?source=traefik
      - traefik.http.services.api_service.loadbalancer.healthcheck.interval=15s
      - traefik.http.services.api_service.loadbalancer.healthcheck.timeout=3s
      - traefik.http.services.api_service.loadbalancer.healthcheck.scheme=http

      # Middlewares definitions
      - traefik.http.middlewares.strip-prefix.stripprefix.prefixes=/url-shortener
      - traefik.http.middlewares.compress.compress=true
      - traefik.http.middlewares.rate-limit.ratelimit.average=100000
      - traefik.http.middlewares.rate-limit.ratelimit.burst=500
      - traefik.http.middlewares.rate-limit.ratelimit.period=1s
      - traefik.http.middlewares.body-limit.buffering.maxRequestBodyBytes=2000000
      - traefik.http.middlewares.retry.retry.attempts=3
      - traefik.http.middlewares.retry.retry.initialinterval=100ms
      - traefik.http.middlewares.circuit-breaker.circuitbreaker.expression=LatencyAtQuantileMS(95.0) > 5000

      # Apply middlewares
      - traefik.http.routers.api_service.middlewares=strip-prefix,compress,rate-limit,body-limit,retry
    networks:
      - url-shortener-service
    logging:
      driver: "json-file"
      options:
        max-file: "2"
        max-size: "1m"
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: '1'
          memory: '512M'
          pids: 100
        reservations:
          cpus: '1'
          memory: '512M'
      mode: replicated

  prometheus:
    container_name: prometheus
    image: prom/prometheus:latest
    restart: unless-stopped
    ports:
      - "19090:9090"
    networks:
      - url-shortener-service
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--web.enable-lifecycle'
    healthcheck:
      test: curl --silent --fail http://localhost:9093/status || exit 1
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 5s
    volumes:
      - ./prometheus/prometheus-config.yml:/etc/prometheus/prometheus.yml
    logging:
      driver: "json-file"
      options:
        max-file: "2"
        max-size: "1m"
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 256M
        reservations:
          cpus: '0.50'
          memory: 256M

  otel-collector:
    image: otel/opentelemetry-collector:0.139.0@sha256:8ac5df2a931e9264667b236d65bf7591fa4ba633a7a634e6caa2f0a4fc549c07
    command: [ "--config=/etc/otel-collector.yaml" ]
    volumes:
      - ./otel-collector.yaml:/etc/otel-collector.yaml
    networks:
      - url-shortener-service
    logging:
      driver: "json-file"
      options:
        max-file: "2"
        max-size: "1m"
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 256M
        reservations:
          cpus: '0.50'
          memory: 256M

  tempo:
    image: grafana/tempo:latest
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
    ports:
      - "3200:3200" # tempo
      - "4317:4317" # otlp grpc
    networks:
      - url-shortener-service
    logging:
      driver: "json-file"
      options:
        max-file: "2"
        max-size: "1m"
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 256M
        reservations:
          cpus: '0.50'
          memory: 256M

networks:
  url-shortener-service:
    driver: bridge